<div class="row">
  <div class="col-xs-12">
    <p>Add new Servers or blueprints!</p>
    <label>Server Name</label>
    <!-- two-way binding na propertije -->
    <!-- <input type="text" class="form-control" [(ngModel)]="newServerName" /> -->
    <!-- umisto two way data bindinga mogu se korisiti reference, one salju HTML NODE element kao argument -->
    <input type="text" class="form-control" #serverNameInput />

    <label>Server Content</label>
    <!-- <input type="text" class="form-control" [(ngModel)]="newServerContent" /> -->
    <input type="text" class="form-control" #serverContentInput />
    <br />
    <button class="btn btn-primary" (click)="onAddServer(serverNameInput)">
      Add Server
    </button>
    <!-- <div>{{ serverNameInput.value }}</div> -->
    <!-- moguce je i preko template pristupati referenci + string interpolation -->
    <button class="btn btn-primary" (click)="onAddBlueprint(serverNameInput)">
      Add Server Blueprint
    </button>
  </div>
</div>
