<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Angular tutorial</h3>
      <hr />
      <app-servers></app-servers>

      <!--OSTALI PRIMJERI DOHVACANJA SELECTORA-->
      <!-- <div app-servers></div> -->
      <!-- <div class="app-servers"></div> -->
      <!-- <div app-success-alert></div> -->
      <hr />
      <div app-success-alert></div>
      <div class="app-warning-alert"></div>

      <hr />
      <hr />
      <div [ngStyle]="{ minHeight: '100px' }">
        <div app-final-assignment></div>
      </div>
    </div>
  </div>
</div>
